{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
    {% include 'navbar.html' %}

    <p>{{ member.user.email }}</p>
    <p>{{ member.created_at }}</p>
    <img src="{{ member.photo.url }}" alt="profile" width="120">
    <br>
    <a href="{% url 'members:deactivate' %}" class="button is-danger">Deactivate</a>

{% endblock %}