{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %}Sign Up CMSKU{% endblock %}

{% block content %}

    <div class="columns">
        <div class="column is-half">
            <p>Sign Up CMSKU</p>
            <hr/>

            {% if messages %}
                {% for message in messages %}
                    <article class="message {{ message.extra_tags }}">
                        <div class="message-header">
                            <p>Success {{ message.extra_tags }}</p>
                            <button class="delete" aria-label="delete"></button>
                        </div>
                        <div class="message-body">{{ message }}</div>
                    </article>
                {% endfor %}
            {% endif %}

            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="field">
                    <div class="control">
                        <label class="label">{{ form_signup.email.label }}</label>
                        {{ form_signup.email|add_class:"input" }}
                        <label class="label has-text-danger">{{ form_signup.errors.email }}</label>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <label class="label">{{ form_signup.password.label }}</label>
                        {{ form_signup.password|add_class:"input" }}
                        <label class="label has-text-danger">{{ form_signup.errors.password }}</label>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <label class="label">{{ form_signup.photo.label }}</label>
                        {{ form_signup.photo|add_class:"input" }}
                        <label class="label has-text-danger">{{ form_signup.errors.photo }}</label>
                    </div>
                </div>
                <input type="submit" class="button"/>
            </form>
        </div>
    </div>

{% endblock content %}