{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %}Sign In{% endblock %}

{% block content %}

    <div class="columns">
        <div class="column">

            {% include 'navbar.html' %}

            <div class="container">

                <div class="columns">
                    <div class="column is-half">

                        {% if messages %}
                            {% for message in messages %}
                                <article class="message is-success">
                                    <div class="message-header">
                                        <p>Success</p>
                                        <button class="delete" aria-label="delete"></button>
                                    </div>
                                    <div class="message-body">{{ message }}</div>
                                </article>
                            {% endfor %}
                        {% endif %}

                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="field">
                                <div class="control">
                                    <label class="label">{{ form.email.label }}</label>
                                    {{ form.email|add_class:"input" }}
                                    <label class="label has-text-danger">{{ form.errors.email }}</label>
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <label class="label">{{ form.password.label }}</label>
                                    {{ form.password|add_class:"input" }}
                                    <label class="label has-text-danger">{{ form.errors.password }}</label>
                                </div>
                            </div>
                            <input type="submit" class="button"/>
                        </form>

                        <br/>
                        <p>Belum punya akun? <a href="{% url 'members:sign-up' %}">daftar disini</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
