{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %}CMSKU{% endblock %}

{% block content %}
    {% include 'navbar.html' %}
    <div class="columns">
        <div class="column">
            <div class="container">
                <strong>{{ article.title }}</strong>
                <p>published at {{ article.published_at }} by {{ article.author.user.username }}</p>
                <hr/>
                <p>{{ article.content }}</p>
            </div>
        </div>
    </div>
    <br>
    <hr>
    <div class="columns">
        <div class="column">
            <div class="container">
                {% for comment in article.comment_set.all %}
                    <p>{{ comment.content }} at {{ comment.created_at|date:"d M Y" }} by: {{ comment.author }}</p>
                {% endfor %}

            </div>
        </div>
    </div>
    <br>
    <hr>
    <div class="columns">
        <div class="column">
            <div class="container">
                {% if request.user.is_authenticated %}
                    <form action="{% url 'articles:comment' article.id %}" method="post">
                        {% csrf_token %}
                        <div class="field">
                            <div class="control">
                                {{ comment_form.content|add_class:"input" }}
                                <label class="label has-text-danger">{{ comment_form.errors.content }}</label>
                            </div>
                        </div>
                        <input type="submit" class="button" value="Submit a Comment">
                    </form>
                {% else %}
                    <strong>You need to login to comment this article. <a href="{% url 'members:sign-in' %}">Sign In</a></strong>
                {% endif %}
            </div>
        </div>
    </div>


{% endblock content %}
