{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %}CMSKU{% endblock %}

{% block content %}
    {% include 'navbar.html' %}
    <div class="container">
        <div class="columns">
            {% for article in articles %}
                <div class="column">
                    <div class="card">
                        <div class="card-content">
                            <p class="title"><a href="{% url 'articles:detail' article.id %}">{{ article.title }}</a>
                            </p>
                            <p class="subtitle">by: {{ article.author.user.email }}</p>
                        </div>
                        <footer class="card-footer">
                            <p class="card-footer-item">
                                <span>{{ article.comment_set.all.count }} Comment</span>
                            </p>
                        </footer>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock content %}
