{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %}List article | CMSKU{% endblock %}

{% block content %}

    <div class="columns">
        <div class="column">
            <div class="container">
                <div class="notification">
                    <strong>Logged on as: {{ request.user.email }}</strong> | <a href="{% url 'members:sign-out' %}">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <div class="columns">
        <div class="column">
            <div class="container">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>Slug</th>
                        <th>Category</th>
                        <th>Status</th>
                        <th>Publish Date</th>
                        <th>Total Comment</th>
                        <th>Action</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for article in articles %}
                        <tr>
                            <td>{{ article.title }}</td>
                            <td>{{ article.slug }}</td>
                            <td>{{ article.category.name }}</td>
                            <td>{{ article.is_published|yesno:"Published,Draft" }}</td>
                            <td>{{ article.published_at|default_if_none:"-" }}</td>
                            <td>{{ article.comment_set.all.count }}</td>
                            <td>
                                <a href="{% url 'articles:delete' article.id %}" class="button is-danger">Delete</a>
                                <a href="{% url 'articles:update' article.id %}" class="button">Edit</a>
                                <a href="{% url 'articles:publish' article.id %}" class="button is-primary">{% if article.is_published %}Unpublish{% else %}Publish{% endif %}</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock content %}
