{% extends 'base.html' %}

{% block title %}Statistics{% endblock %}

{% block content %}
    {% include 'navbar.html' %}

    <div class="columns">
        <div class="column">
            <table class="table">
                <thead>
                    <tr>
                        <td colspan="2"><strong>Top Writer</strong></td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>Total Article</td>
                    </tr>
                </thead>
                <tbody>
                {% for author in most_writer %}
                    <tr>
                        <td>{{ author.user.email }}</td>
                        <td>{{ author.total_article }} out of {{ total_article }}</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>

        <div class="column">
            <table class="table">
                <thead>
                <tr>
                    <td colspan="2"><strong>Top Commenter</strong></td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>Total Comment</td>
                </tr>
                </thead>
                <tbody>
                {% for author in most_commenter %}
                    <tr>
                        <td>{{ author.user.email }}</td>
                        <td>{{ author.total_comment }}</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>

        <div class="column">
            <table class="table">
                <thead>
                <tr>
                    <td colspan="2"><strong>Top Commented Article</strong></td>
                </tr>
                <tr>
                    <td>Title</td>
                    <td>Total Comment</td>
                </tr>
                </thead>
                <tbody>
                {% for article in most_commented_articles %}
                    <tr>
                        <td>{{ article.title }}</td>
                        <td>{{ article.total_comment }}</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
