{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %}Submit CMSKU{% endblock %}

{% block content %}

    <div class="columns">
        <div class="column is-half">
            <p>Submit Article CMSKU</p>
            <hr/>
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="field">
                    <div class="control">
                        <label class="label">{{ form.title.label }}</label>
                        {{ form.title|add_class:"input" }}
                        <label class="label has-text-danger">{{ form.errors.title }}</label>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <label class="label">{{ form.content.label }}</label>
                        {{ form.content|add_class:"input" }}
                        <label class="label has-text-danger">{{ form.errors.content }}</label>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <label class="label">{{ form.category.label }}</label>
                        {{ form.category|add_class:"input" }}
                        <label class="label has-text-danger">{{ form.errors.category }}</label>
                    </div>
                </div>
                <input type="submit" class="button"/>
            </form>
        </div>
    </div>

{% endblock content %}