<div class="notification">
    <div class="navbar-menu">
        <div class="navbar-start">
            <a href="{% url 'articles:library' %}" class="navbar-item">Explore Articles</a>
            <a href="{% url 'articles:stats' %}" class="navbar-item">Statistics</a>
        </div>
    </div>
</div>
<br/>
